@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper">
    <div class="section-dark" style="background-image: url('https://img.freepik.com/free-photo/3d-rendering-futuristic-sci-fi-techno-background-with-lights-creating-cool-shapes_181624-27757.jpg?w=1380&t=st=1691710634~exp=1691711234~hmac=b39940938d088206104660d4db73c735a1ff0f0cea972f83ce0a8701a14cef74');background-size:cover;">
        <div class="filter"></div>
        <div class="content-center" style="overflow:visible !important">

            <div class="container">

                <div class="title-brand" style="padding-top:1em;">
                    <h1 class="title" style="padding-top:1.57em">MINESWEEPER</h1>
                    <img class="bomb" src="~/img/9.png" width="250px" style="margin-right:0em !important;"/>
                        <img src="http://demos.creative-tim.com/paper-kit-2/assets/img/fog-low.png" alt="">
                    </div>
                    <div class="fog-low left">
                        <img src="http://demos.creative-tim.com/paper-kit-2/assets/img/fog-low.png" alt="">
                    </div>
                </div>
                

                <h2 class="presentation-subtitle text-center" style="padding: 2em 0">The Game</h2>
            </div>
        </div>

        <div class="moving-clouds" style="background-image: url('http://demos.creative-tim.com/paper-kit-2/assets/img/clouds.png');width:50%; ">

    </div>
</div>
