<style>
    .center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<h2 class="center" style="width:100%"> You lost!</h2>
<br />
<div class="form-group" style="margin-top:3em;">
    <a class="nav-link" asp-area="" asp-controller="Minesweeper" asp-action="Index">
        <input type="submit" value="Restart Game" class="btn btn-primary" />
    </a>
</div>