﻿@using Milestone.Models
@model Milestone.Models.BoardModel

<style>
    .game-button {
        width: 65px;
        height: 65px;
    }

    .cell-img {
        width: 55px;
    }

    .cell {
        width: 65px;
        height: 65px;
    }

    .game-board {
        display: flex;
        flex-wrap: wrap;
    }

    .line-break {
        flex-basis: 100%;
        height: 0;
    }

    .center {
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
    }

    .font {
        font-family: Bungee
    }
</style>

@{
    string[] names = { "0.png", "1.png", "2.png", "3.png", "4.png", "5.png", "6.png", "7.png", "8.png", "9.png", "10.png", "11.png" };

    <h5 class="center"> Minesweeper </h5>
    <div class="center font">
                <p>Time: @Model.date @Model.time</p>
    </div>
    <div class="center font" style="display:flex;margin-bottom: 6px">
                <button type="button" style="margin-right:7.2em;border-radius:12px" class="btn btn-primary save-game-button" data-bs-toggle="modal" data-bs-target="#savegameForm">
                    Save Game
                </button>

                <a class="nav-link" style="margin-left:7.2em;border-radius:12px" asp-controller="Minesweeper" asp-action="Index">
                    <input type="submit" value="Restore Game" class="btn btn-primary" />
                </a>
    </div>

    <form asp-controller="Minesweeper" asp-action="ButtonClick">
                <audio id="gamemusic" src="~/Music/GameMusic.mp3" type="audio/mp3"></audio>
                <div class="game-board center">
                    @for (int r = 0; r < Model.getSize(); r++)
            {

                        @for (int c = 0; c < Model.getSize(); c++)
                {

                    if (@c % 10 == 0)
                    {
                                <div class="line-break"> </div>
                    }

                            <button class="cell game-button" type="submit" value=@r+@c name="rowcol">

                                <img class="cell-image" src="~/img/@names[Model.Grid[r,c].ButtonState]" id="center" />

                            </button>

                }
            }
                </div>
    </form>
}

<div class="modal fade font" id="savegameForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Save Game</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" hidden="hidden">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="GameName" class="control-label">Game name:</label>
                    <input id="modal-input-gamename" name="GameName" for="GameName" class="form-control" type="text" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cancel-button" data-bs-dismiss="modal">Cancel</button>
                <button style="border-radius:12px" id="save-button" type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>

