﻿@using Milestone.Models
@model Milestone.Models.BoardModel


<style>
    .game-button {
        width: 70px;
        height: 70px;
    }

    .cell-img {
        width: 60px;
    }

    .cell {
        width: 70px;
        height: 70px;
    }

    .game-board {
        display: flex;
        flex-wrap: wrap;
    }

    .line-break {
        flex-basis: 100%;
        height: 0;
    }

    .center {
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
    }
</style>


@{
    string[] names = { "0.png", "1.png", "2.png", "3.png", "4.png", "5.png", "6.png", "7.png", "8.png", "9.png", "10.png", "11.png" };

    <h5 class="center"> Minesweeper </h5>
    <div class="center" style="font-family:Bungee">
        <p>Current Time: @DateTime.Now</p>
    </div>
    <form asp-controller="Minesweeper" asp-action="ButtonClick">
        <audio id="gamemusic" src="~/Music/GameMusic.mp3" type="audio/mp3"></audio>
        <div class="game-board center">

            @for (int r = 0; r < Model.getSize(); r++)
            {

                @for (int c = 0; c < Model.getSize(); c++)
                {

                    if (@c % 10 == 0)
                    {
                        <div class="line-break"> </div>
                    }

                    <button class="cell game-button" type="submit" value=@r+@c name="rowcol">

                        <img class="cell-image" src="~/img/@names[Model.Grid[r,c].ButtonState]" id="center" />

                    </button>

                }
            }
        </div>
    </form>
}